/Topics/
/course-remote-info.yaml
/course-info.yaml

/Simple Banking System/Advanced system/
/Simple Banking System/Card anatomy/
/Simple Banking System/I'm so lite/
/Simple Banking System/Luhn algorithm/
/Simple Banking System/lesson-info.yaml



##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
